<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666748525299-gvl1u281shs0vlqacqk7je8bfcl2h6ve.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666748525299-gvl1u281shs0vlqacqk7je8bfcl2h6ve</string>
	<key>API_KEY</key>
	<string>AIzaSyAHTqCiHLgJGauJIPgBhiQmvuLeElCxXsk</string>
	<key>GCM_SENDER_ID</key>
	<string>666748525299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebasestart</string>
	<key>PROJECT_ID</key>
	<string>fir-realtime-database-2900d</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-realtime-database-2900d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666748525299:ios:a3a0ed2023fe24eee3b586</string>
	<key>DATABASE_URL</key>
	<string>https://fir-realtime-database-2900d-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>